@keyframes fadeIn {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@keyframes typing {
	from { width: 0; }
}

@keyframes cursor {
	50% { border-right-color: transparent; }
}


@media screen and (max-width:750px) {
    .mituke{
        font-size: 8px!important;
    }    
    .btn_gp{
        font-size:9px!important;
        //width:35%!important;
        div{
            padding:4px 2px!important;
        }
    }
    .canvas_wrapper{
        position: relative;
        width: 100%; 
        height: 30px;
    }
}

*{
    text-decoration: none;
    margin:0;
    padding:0;
    font-family: 'Noto Sans JP', sans-serif;
    body{
        margin:0;
        background-image: url("webb.png");
        height:100%;
        width:100%;

        a {
        color: white;
        }

        header {
            padding: 30px 4% 10px;
            position: fixed;
            opacity:0.8;
            top: 0;
            width: 100%;
            background-color: rgb(63, 63, 63);
            display: flex;
            align-items: center;
            .menu_wrapper{//これがABOUTとCONTACT右寄せにしてる
                display: flex;
                width:100%;
                padding-right:10%;
                justify-content: flex-end;

            }
            h1 {
                margin: 0 0 20px 0;
                padding: 0;
                font-size: 20px;
             }
             a {
                &:hover{
                    opacity:0.7;
                }
                transition:0.4s;	
                text-decoration: none;
                color: white;
             }

             ul {
                list-style: none;
                margin: 0;
                display: flex;
             }
             li {
                margin: 0 0 20px 30px;
                font-size: 14px;
             }
             

         }//メニュー終わり
        .tofu{
            width: 100%;
            height: 100px;
        }
        .explanation{
            width: 80%;
            margin: 0 auto;
            max-width: 500px;


        }
        main{
            width:100%;
            height:100%;
        }
        .canvas_wrapper{
            position: relative;
            width: 100%; 
            height: 400px;
        }
        .mituke_wrapper{
            width: 100%;
            height: auto;
        }
        .mituke{
            font-size: 20px;
            text-align: center;
            width: 17ch;
            overflow: hidden;
            white-space: nowrap;
            border-right: .05em solid;
            animation: typing 1s steps(13),
            cursor 1s steps(1) infinite;
        }
        .what{
            text-align: center;
            width: 17ch;
            overflow: hidden;
            white-space: nowrap;
            border-right: .05em solid;
            animation: typing 1s steps(13),
            cursor 1s steps(1) infinite;

        }
        .graph_and_btn_and_form{
            //background-color: aqua;
            display:flex;
            flex-wrap:no-wrap;/* 改行不許可 */
            width:100%;
            height:100%;
        }
        .graph_and_form{
            width:60%;
            height:100%;
        }
        .heart{
            color: pink;
        }

        .btn_gp{
            //display:flex;
            //flex-wrap: wrap;
            padding:0 0 0 10px;
            width:40%;
            height:600px;
            //background-color: black;
            opacity:60%;
            overflow-y: scroll;
            div{
                padding:15px;
            }
            .fa-angle-double-down{
                color: #5f5f5f;
                //animation: fadeIn 2s;
                position: absolute;
                font-size:300px;
                align-items: center;
                justify-content: center;
                //animation-fill-mode: forwards;
                transform:translate(0,200px);
                transition-delay:0.1s;

                animation:fadeIn 0.3s ease-in-out 3s 5 alternate both;                    //animation-fill-mode:forwards;
                transition-duration:3s;
	

                &:hover{
                   /* transform:translate(0,200px);
                    animation:fadeIn 2s ease-in-out;   
                    animation-fill-mode:forwards;
                    transition-duration:1s;
                    animation-iteration-count: 1;*/	
                    
                }
            }
            .odd{
                //margin: 1em 0.5em;
                background-color:rgb(0, 0, 0);   
            }
            .even{
                //margin: 1em 0.5em;
                background-color:rgb(63, 63, 63);
            }
        }
        .form_container{
            width: 80%;
            margin: 40px auto;
            max-width: 1000px;
            padding: 1em 1.5em;
            border: solid 2px #000000;/*線*/

        }
        .twitter_link{
            color: black;
        }
        .submit_btn{
            font-size:20px;
            width:200px;
            height:40px;
            color: #fff;
            //padding       : 12px 12px;   /*余白*/
            background    : #b9cfff;     /*背景色*/
            transition:0.4s;
            &:hover{
                opacity:0.7;
            }
 
        }
        .btn{
            padding: 0.5em 0.5em;
            //color: #fff;
            transition: .4s;

            &:hover{
                opacity:0.7;
            }
        }
        .time_explanation{
            position: relative;
            left:600px;
            bottom:200px;
        }
        /*
        .btn_miko{
            background-color:#C2E388;  
        }
        .btn_pato{
            background-color:#ee9cbe;  
        }
        .btn_mea{
            background-color:#edd8fd;  
        }
        .btn_sha{
            background-color:#474563;  
        }
        .btn_yuge{
            background-color:#8adfee;  
        }
        .btn_meto{
            background-color:#f07e62;  
        }
        .btn_kanon{
            background-color:#80e4f1;  
        }
        .btn_ank{
            background-color:#d66eb3;  
        }
        .btn_wat{
            background-color:#7f8580;  
        }
        .btn_camo{
            background-color:#dbcd50;  
        }
        .btn_rin{
            background-color:#df5a5a;  
        }
        .btn_anna{
            background-color:#b044db;  
        }
        .btn_chris{
            background-color:#6cd67e;  
        }
        .btn_haneru{
            background-color:#ccce46;  
        }
        .btn_soya{
            background-color:#688dd3;  
        }
        .btn_ran{
            background-color:#53c744;  
        }
        .btn_izu{
            background-color:#af775d;  
        }
        .btn_kuku{
            background-color:#c75735;  
        }
        .btn_mimi{
            background-color:#c2c2c2;  
        }
        .btn_hasi{
            background-color:#53804d;  
        }
        .btn_hira{
            background-color:#a85d46;  
        }
        .btn_sesimaru{
            background-color:#c9aaa1;  
        }
        */

    }//body
}//all