<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<body>
    <header>
        <h1>
          <a href="/">OSHIHUYASU</a>
       </h1>
       <div class="menu_wrapper">
       <nav class="pc-nav">
          <ul>
             <li><a href="about.html">ABOUT</a></li>
             <li><a href="https://twitter.com/publictrain2">CONTACT</a></li>
          </ul>
       </nav>
      </div>
      </header>
      <main>
          <div class="tofu"></div>
        <div class="explanation">
        <h1 class='what'>What is this site?</h1>
        <div class="tofu"></div>
        <p>自分のツイートの投稿頻度と主に774inc.に所属しているVtuberの生放送開始時刻を視覚化し、自分の生活リズムから
            相性を調べるサービスです。<br>自分の生活リズムに合った、推しやすいVtuberが見つけたいなと思って作りました。たくさん使ってくださると嬉しいです。
            <br>（2021/01/14更新）配信者の配信データ自体は、日本時間09:00に自動的に更新されます。あとTwitterシェアボタンも付けてみました。
        <p style="text-align: right">めにゃー</p>
        </div>
    </main>
</body>
</html>