<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<body>
    <header>
        <h1>
          <a href="/">OSHIHUYASU</a>
       </h1>
       <div class="menu_wrapper">
       <nav class="pc-nav">
          <ul>
             <li><a href="about.html">ABOUT</a></li>
             <li><a href="https://twitter.com/publictrain2">CONTACT</a></li>
          </ul>
       </nav>
      </div>
      </header>
    <main>
        <div class="tofu"></div>
        <div class='twitter_wrapper'>
        
            <div class='twitter'><a class='twitter_link' href="https://twitter.com/publictrain2">めにゃーのTwitter</a></div>
        </div>

    </main>
</body>